body {
    font-family: Arial, sans-serif;
    background-color: #67c588;
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    background: rgb(225, 203, 138);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    background: #e2e2e2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
.completed {
    text-decoration: line-through;
    color: green;
}
button {
    background: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: #0056b3;
}
#new-task {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.add-task-button {
    width: 100%;
    padding: 10px;
    background: #bb7ce5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.add-task-button:hover {
    background: #871ad0;
}